{% extends 'sell_base.html' %}

{% block title %}Seller Admin{% endblock title %}

{% block content %}

    <h1 class="title">Seller Admin - <span class="is-capitalized">{{user.seller.store_name}}</span></h1>

    <div class="box">
    <div class="border rounded p-4 m-4">
            <h2 class="is-size-3 mb-4">My Products</h2>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for product in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.stockqty}}</td>
                        <td><a href="{% url 'sell_edit_product' product.id %}" class="btn btn-outline-primary">Edit</a></td>
                        <td>
                            <form action="{% url 'sell_delete_product' product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                        
                    {% endfor %}
                
                </tbody>

            </table>
            <hr>
            <div class="m-3 p-3">
                <a href="add_product/" class="btn btn-outline-success border rounded  col-lg-3 float-right">Add Products</a>
            </div>
    </div>
    </div>


    {% endblock content %}