{% extends 'sell_base.html' %}

{% block content %}
  <h1>Edit Your Account Information</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="{{ seller.first_name }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="{{ seller.last_name }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="store_name">Store Name:</label>
      <input type="text" name="store_name" id="store_name" value="{{ seller.store_name }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="tel" name="phone" id="phone" value="{{ seller.phone }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" name="location" id="location" value="{{ seller.location }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="store_image">Store Image:</label>
      <input type="file" name="store_image" id="store_image" class="form-control-file">
      {% if seller.store_image %}
        <img src="{{ seller.store_image.url }}" alt="Store Image" class="img-fluid" style="max-width: 30%; height: auto;">
      {% endif %}
    </div>
    <div class="form-group">
      <label for="qr_image">QR Code Image:</label>
      <input type="file" name="qr_image" id="qr_image" class="form-control-file">
      {% if seller.qr_image %}
        <img src="{{ seller.qr_image.url }}" alt="QR Code Image" class="img-fluid" style="max-width: 30%; height: auto;">
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    
    <a href="{% url 'sell_logout' %}" class="btn btn-sm btn-secondary col-lg-12 mt-3">Logout</a>



  </form>
{% endblock %}
