{% extends 'sell_base.html' %}

{% block content %}

<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThOqt8obmoZ_hcXLbrwWEd40sghWU807gE5g&usqp=CAU" alt="" class="" style="height: 150px;">
                <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center">Login</h3>
            <form action="/sell_login/" method="POST">
                
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{ values.email }}" 
                    class=" form-control-sm form-control" placeholder="6xxxxxxxxx@student.chula.ac.th">
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm" >
                </div>
                
     
            
                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Login</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}
